.loginContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

.pageTitle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}