.homePage{
    background-color: hsl(0, 0%, 14%);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.pageTitle{
    font-size: 50px;
    color: white;
}

.dateTime {
    background-color: black;
    color: white;
    width: 100vw;
}