.dateTimeDisplay{
    background-color: white;
    min-width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dateTimeDisplayDarkMode{
    background-color: hsl(0, 0%, 14%);
    min-width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.time{
    color: hsl(0, 0%, 0%);
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.4); */
    /* transition: opacity 0.20s; */
}

.timeDarkMode{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.4); */
    /* transition: opacity 0.20s; */
}

.date{
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75); */
    /* transition: opacity 0.20s; */
}

.dateDarkMode{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75); */
    /* transition: opacity 0.20s; */
}