.detailsContainer{
    background-color: hsl(228, 19%, 95%);
    color: black;
    /* padding: 50px; */
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-width: 400px;
    max-width: 400px; */
    width: 350px;
    margin: 15px;
}

.meetingLabel{
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 0px 5px;
    margin-bottom: 0;
}

.roomLabel{
    color: black;
    font-size: 18px;
    margin-bottom: 0;

}

.dateLabel{
    color: black;
    font-size: 18px;
    margin-bottom: 0;

}

.timeLabel{
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    
}

.durationLabel{
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    
}

.statusLabel{
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    
}

.buttonControls{
    display: flex;
    gap: 1.5em;
    /* flex-direction: column; */
    margin-bottom: 20px;
}